h3 {
    padding-left: 5px;
}
p {
    padding-left: 5px;
}
.movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.movieCard {
    width: min-content;
    margin: 5px;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image {
    border-radius: 8px 8px 0 0;
}
.btn.btn-primary {
    background-color: green;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.App {
    background-color: antiquewhite;
}
.differentFont {
    color: coral
}